API_V1_STR=/api/v1

# Postgres database configuration
DB_POSTGRES_USER=admin
DB_POSTGRES_PASS=admin
DB_POSTGRES_IP=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_BASE=msia

# RabbitMQ configuration
RABBIT_MQ_USER=admin
RABBIT_MQ_PASS=admin
RABBIT_MQ_IP=localhost
RABBIT_MQ_PORT=5672
RABBIT_MQ_REGISTRY_QUEUE=registry_queue
RABBIT_MQ_REGISTRY_DLQ=registry_dlq

# MongoDB configuration
MONGO_DB_USER=admin
MONGO_DB_PASS=admin
MONGO_DB_IP=localhost
MONGO_DB_PORT=27017
MONGO_DB_REGISTRY_COLLECTION=registry_collection